<div class="span12" id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = "{{ site.disqus_shortname }}";
    var disqus_identifier = "{{ page.id }}";
    var disqus_url = "http://tempus-js.com{{ site.base_url }}{{ page.url }}";
    var disqus_developer = 1;
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<script type="text/javascript" src="http://{{ site.disqus_shortname }}.disqus.com/embed.js" async></script>