            <header id="masthead" class="span7">
                <div class="brand">
                    <a href="/"><i class="logo"></i>Tempus</a>
                </div>
                <h2>Time for a new Date()</h2>
                {% if include_buttons %}
                <div class="btn-group btn-group-two">
                    <a class="btn btn-success btn-large" href="/tempus.js">Download <strong>Core</strong> (4.4kb min/gz)</a>
                    <a class="btn btn-info btn-large" href="/build.html">Build your own (up to 7kb)</a>
                    <p class="info">or run <code>npm install Tempus</code> from your command line</p>
                </div>
                <div class="btn-group btn-group-three">
                    <a class="btn btn-large txthilite-success" href="/docs/">View the docs</a>
                    <a class="btn btn-large txthilite-danger" href="/api/">Browse the api</a>
                    <a class="btn btn-large txthilite-info" href="/blog/">Read the blog</a>
                </div>

                {% endif %}
                <hr class="soften">
            </header>