/* line 3, style.scss */
html, body {
  background-color: #eee;
  background-image: url(/img/bkg.gif);
  min-height: 100%;
}

/* line 9, style.scss */
body {
  padding-top: 60px;
}

/* line 13, style.scss */
body > .container {
  margin-top: -60px;
  min-height: 100%;
}

/* line 18, style.scss */
nav ul {
  list-style: none;
  margin: 0;
}
/* line 22, style.scss */
nav ul li {
  display: inline-block;
}

/* line 27, style.scss */
article {
  margin: 25px;
}
/* line 30, style.scss */
article h1, article h2, article h3, article h4, article h5, article h6 {
  margin: 15px 0 10px;
}
/* line 34, style.scss */
article ul {
  list-style-position: inside;
}

/* line 41, style.scss */
.api-method-description h3 {
  margin: 15px 0;
  color: #aaa;
}

/* line 47, style.scss */
.example {
  margin-bottom: 15px;
}
/* line 50, style.scss */
.example h4 {
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -khtml-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  border: 1px solid #E1E1E8;
  border-bottom: 0;
  margin-bottom: 0;
  padding: 2px 6px;
  background: #f9f9f9;
}
/* line 60, style.scss */
.example h4 + .highlight pre, .example h4 + pre {
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  -ms-border-radius: 0 0 6px 6px;
  -khtml-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
/* line 63, style.scss */
.example h4 + .highlight pre .linenos:first-child, .example h4 + pre .linenos:first-child {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
}
/* line 66, style.scss */
.example + h3 {
  margin-top: 30px;
}

/* line 71, style.scss */
.brand, .brand a {
  color: #000;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
}

/* line 79, style.scss */
.brand a:hover {
  color: #000;
  text-decoration: none;
}

/* line 84, style.scss */
.navbar .brand a {
  color: #fff;
}
/* line 87, style.scss */
.navbar .brand a .logo {
  background: white;
  width: 15px;
  height: 15px;
  display: block;
  content: '';
  margin: 2px 7px 0 0;
  padding: 0;
  float: left;
}

/* line 99, style.scss */
.opaque50 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 100, style.scss */
.opaque75 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}

/* line 101, style.scss */
.opaque25 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}

/* line 104, style.scss */
.nav > li > a.txthilite-primary:hover, .txthilite-primary:hover {
  text-shadow: 0 0 1px #0088cc;
  color: #0044cc;
}

/* line 104, style.scss */
.nav > li > a.txthilite-info:hover, .txthilite-info:hover {
  text-shadow: 0 0 1px #5bc0de;
  color: #2f96b4;
}

/* line 104, style.scss */
.nav > li > a.txthilite-success:hover, .txthilite-success:hover {
  text-shadow: 0 0 1px #62c462;
  color: #51a351;
}

/* line 104, style.scss */
.nav > li > a.txthilite-warning:hover, .txthilite-warning:hover {
  text-shadow: 0 0 1px #fbb450;
  color: #f89406;
}

/* line 104, style.scss */
.nav > li > a.txthilite-danger:hover, .txthilite-danger:hover {
  text-shadow: 0 0 1px #ee5f5b;
  color: #bd362f;
}

/* line 116, style.scss */
[class*='icon'] {
  text-align: center;
}
/* line 119, style.scss */
[class*='icon']:after {
  font-weight: bold;
  color: #000;
}

/* line 125, style.scss */
.icon-equal:after {
  content: '=';
  line-height: 10px;
  font-size: 16px;
}

/* line 130, style.scss */
.icon-quote {
  line-height: 23px;
}
/* line 133, style.scss */
.icon-quote:after {
  content: '\201C';
  font-family: serif;
  font-size: 25px;
}

/* line 140, style.scss */
.video {
  margin: 10px auto;
}
/* line 143, style.scss */
.video, .video iframe {
  background: black;
  width: 800px;
  height: 450px;
}
/* line 149, style.scss */
.video iframe {
  display: none;
}

/* line 156, style.scss */
#masthead {
  background: -webkit-gradient(radial, center 60px, 0, center 60px, 210, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-radial-gradient(center 60px, circle cover, #ffffff, rgba(255, 255, 255, 0) 210px);
  background: -moz-radial-gradient(center 60px, circle cover, #ffffff, rgba(255, 255, 255, 0) 210px);
  background: -o-radial-gradient(center 60px, circle cover, #ffffff, rgba(255, 255, 255, 0) 210px);
  background: -ms-radial-gradient(center 60px, circle cover, #ffffff, rgba(255, 255, 255, 0) 210px);
  background: radial-gradient(center 60px, circle cover, #ffffff, rgba(255, 255, 255, 0) 210px);
  margin: 0 auto;
  padding-top: 60px;
  float: none;
}
/* line 163, style.scss */
#masthead .brand, #masthead h2, #masthead p {
  letter-spacing: -1px;
  line-height: 1;
  width: 100%;
  text-align: center;
}
/* line 170, style.scss */
#masthead .brand {
  text-shadow: 1px 1px white;
  font-size: 81px;
}
/* line 175, style.scss */
#masthead h2 {
  margin-top: 5px;
  font-size: 30px;
  color: #999;
  font-weight: 300;
}
/* line 182, style.scss */
#masthead .btn-group-two {
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 30px 0;
}
/* line 186, style.scss */
#masthead .btn-group-two .btn {
  -moz-border-radius: 0 4px 0 0;
  -webkit-border-radius: 0 4px 0 0;
  -o-border-radius: 0 4px 0 0;
  -ms-border-radius: 0 4px 0 0;
  -khtml-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
  height: 35px;
  line-height: 35px;
  overflow: hidden;
  margin: 0;
}
/* line 193, style.scss */
#masthead .btn-group-two .btn:first-child {
  -moz-border-radius: 4px 0 0 0;
  -webkit-border-radius: 4px 0 0 0;
  -o-border-radius: 4px 0 0 0;
  -ms-border-radius: 4px 0 0 0;
  -khtml-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
/* line 199, style.scss */
#masthead .btn-group-two .info {
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -khtml-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(25%, #ffffff), color-stop(100%, #e6e6e6));
  background: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background: -moz-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  width: 100%;
  height: 20px;
  line-height: 20px;
  padding: 4px 0;
  margin: 0 -1px;
  display: inline-block;
  font-size: 13px;
  color: #333;
  text-align: center;
  border: 1px solid #CCC;
  border-bottom-color: #BBB;
}
/* line 218, style.scss */
#masthead .btn-group-three {
  margin: 0;
}
/* line 222, style.scss */
#masthead .brand {
  letter-spacing: 4px;
  margin: 0 0 0 30px;
}
/* line 226, style.scss */
#masthead .brand .logo {
  background: black;
  height: 60px;
  width: 60px;
  display: inline-block;
  margin-right: 10px;
}

/* line 236, style.scss */
.soften {
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  height: 1px;
  margin: 40px 0;
  border: 0;
}

/* line 243, style.scss */
.feature-list .row {
  margin-bottom: 10px;
}

/* line 247, style.scss */
.content, #apiHeader {
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
  margin: 0 -20px;
  /* negative indent the amount of the padding to maintain the grid system */
}

/* line 253, style.scss */
#apiHeader::after, #apiHeader::before {
  display: table;
  content: "";
  clear: both;
}

/* line 259, style.scss */
.content {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  background-color: #fff;
  padding: 19px 19px;
  margin: 0 -20px;
}
/* line 269, style.scss */
.content::before, .content::after {
  display: table;
  content: "";
}

/* line 275, style.scss */
#apiHeader {
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -khtml-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(25%, #ffffff), color-stop(100%, #e6e6e6));
  background: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background: -moz-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  padding: 3px 19px;
  border-bottom: 0;
  text-align: right;
  height: 30px;
}
/* line 284, style.scss */
#apiHeader + .content {
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  -ms-border-radius: 0 0 6px 6px;
  -khtml-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -moz-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.25);
  -o-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.25);
}
/* line 289, style.scss */
#apiHeader::before, #apiHeader::after {
  display: table;
  content: "";
}
/* line 294, style.scss */
#apiHeader .breadcrumbs {
  float: left;
  margin-top: 8px;
}
/* line 299, style.scss */
#apiHeader .navbar-search {
  float: none;
  display: inline-block;
}
/* line 304, style.scss */
#apiHeader .search {
  display: inline-block;
  margin: 0;
}
/* line 309, style.scss */
#apiHeader .search-query {
  -moz-transition: width 0.25s ease-in-out;
  -webkit-transition: width 0.25s ease-in-out;
  -o-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;
  border: 1px solid #bbb;
  margin: 1px;
  padding: 4px 30px 4px 15px;
  width: 100px;
  background: #fff;
  color: #555;
}
/* line 318, style.scss */
#apiHeader .search-query + .search-results {
  display: none;
}
/* line 322, style.scss */
#apiHeader .search-query:focus {
  border: 2px solid #08C;
  margin: 0;
  width: 200px;
}
/* line 327, style.scss */
#apiHeader .search-query:focus + .search-results {
  display: block;
}

/* line 334, style.scss */
.search-results {
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
  -o-border-radius: 0 0 8px 8px;
  -ms-border-radius: 0 0 8px 8px;
  -khtml-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  -moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  margin: -1px 0 0 11px;
  width: 222px;
  list-style: none;
  text-align: left;
}
/* line 345, style.scss */
.search-results:hover {
  display: block;
}
/* line 349, style.scss */
.search-results:empty {
  display: none;
}
/* line 353, style.scss */
.search-results li {
  display: block;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
/* line 358, style.scss */
.search-results li.search-focus {
  background: #08C;
  color: white;
}
/* line 362, style.scss */
.search-results li.search-focus a {
  color: white;
  text-decoration: none;
}
/* line 368, style.scss */
.search-results li:last-child {
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
  -o-border-radius: 0 0 8px 8px;
  -ms-border-radius: 0 0 8px 8px;
  -khtml-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  border: 0;
}

/* line 375, style.scss */
.search-results-count {
  position: absolute;
  width: 30px;
  height: 15px;
  margin: -24px 0 0 -14px;
  text-align: right;
  color: #ccc;
  overflow: hidden;
}

/* line 385, style.scss */
.api-search-result {
  padding: 10px;
}
/* line 388, style.scss */
.api-search-result .title {
  display: block;
  font-size: 16px;
}
/* line 393, style.scss */
.api-search-result .description {
  margin-left: 10px;
  color: #333;
  display: block;
}

/* line 401, style.scss */
.api-category, .api-tags p {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin: 3px;
  padding: 3px;
  font-size: 11px;
  color: #fff;
}

/* line 411, style.scss */
.api-category {
  background: #2D90C3;
  border: 1px solid #26749C;
  border-right-color: #2D90C3;
  border-bottom-color: #2D90C3;
  border-radius: 2px;
}

/* line 419, style.scss */
.api-tags {
  display: inline-block;
}
/* line 421, style.scss */
.api-tags p {
  background: #2EC278;
  border: 1px solid #269C61;
  border-right-color: #2EC278;
  border-bottom-color: #2EC278;
}

/* line 431, style.scss */
.api-method header {
  margin: 0 20px;
}
/* line 434, style.scss */
.api-method header h2 {
  display: inline-block;
  float: left;
}
/* line 439, style.scss */
.api-method header .api-tags, .api-method header .api-category {
  float: right;
}
/* line 443, style.scss */
.api-method header::after, .api-method header::before {
  display: table;
  content: "";
  clear: both;
}
/* line 450, style.scss */
.api-method .api-description {
  float: left;
  margin-left: 40px;
}

/* line 456, style.scss */
.api-method-signatures {
  padding-bottom: 0;
}

/* line 460, style.scss */
.method-signature {
  border-top: 1px solid #e5e5e5;
  padding: 15px 0;
}
/* line 465, style.scss */
.method-signature:before, .method-signature:after {
  display: table;
  content: "";
}
/* line 470, style.scss */
.method-signature:first-child {
  padding-top: 0;
  border-top: 0;
}
/* line 475, style.scss */
.method-signature header {
  border-bottom: 1px solid #ccc;
}
/* line 478, style.scss */
.method-signature header > i {
  margin: 0 10px;
  font-size: 20px;
  font-style: normal;
}
/* line 484, style.scss */
.method-signature header pre, .method-signature header code {
  border: 0;
  padding: 0;
  font-size: 15px;
}
/* line 490, style.scss */
.method-signature header::before, .method-signature header::after {
  display: table;
  content: "";
}
/* line 496, style.scss */
.method-signature h3 {
  display: inline-block;
  margin-bottom: 2px;
}
/* line 501, style.scss */
.method-signature .api-tags {
  float: right;
  display: inline-block;
  margin-top: -3px;
}
/* line 507, style.scss */
.method-signature .returns {
  color: #FF69B4;
}
/* line 511, style.scss */
.method-signature .returns::before, .method-signature .returns::after {
  content: '`';
  color: #ddd;
}
/* line 517, style.scss */
.method-signature .description {
  margin: 10px;
}

/* line 523, style.scss */
var {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  padding: 3px;
  color: #A15E3A;
  border: 1px solid #ddd;
  font-style: normal;
  font-weight: bold;
}

/* line 533, style.scss */
.breadcrumbs, .breadcrumbs i, .breadcrumbs p, .breadcrumbs a {
  display: inline-block;
}

/* line 538, style.scss */
.post-bar {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
  background: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background: linear-gradient(top, #ffffff, #f5f5f5);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 1px 0 white;
  -webkit-box-shadow: inset 0 1px 0 white;
  -o-box-shadow: inset 0 1px 0 white;
  box-shadow: inset 0 1px 0 white;
  text-shadow: 1px 1px 0 white;
  padding: 7px 14px;
  margin: 0 0 18px;
  border: 1px solid #DDD;
  width: 50%;
  min-width: 250px;
}
/* line 549, style.scss */
.post-bar p, .post-bar a {
  display: inline-block;
  margin: 0 2px;
  padding: 0 6px;
}
/* line 555, style.scss */
.post-bar i {
  color: #EEE;
}
/* line 559, style.scss */
.post-bar :first-child {
  padding-left: 0;
}
/* line 563, style.scss */
.post-bar :last-child {
  border: 0;
}

/* line 568, style.scss */
.post-content {
  margin: 10px 20px;
}

/* line 573, style.scss */
.author-info {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
  background: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background: linear-gradient(top, #ffffff, #f5f5f5);
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 0 white;
  border: 1px solid #ddd;
  padding: 10px;
  width: 400px;
  font-size: 12px;
}
/* line 583, style.scss */
.author-info .author-details {
  height: 72px;
}
/* line 587, style.scss */
.author-info, .author-info .author-details {
  margin-left: 20px;
}
/* line 591, style.scss */
.author-info, .author-info .author-details, .author-info .author, .author-info .description {
  float: left;
}
/* line 595, style.scss */
.author-info .author-details, .author-info .author, .author-info .description {
  width: 308px;
}
/* line 599, style.scss */
.author-info .avatar {
  margin: 0;
  float: left;
  border: 1px solid;
  border-color: #999 white white #999;
}
/* line 606, style.scss */
.author-info .author, .author-info .description {
  line-height: 15px;
  margin: 0;
}
/* line 611, style.scss */
.author-info .description {
  font-style: italic;
  height: 30px;
  clear: both;
  overflow: hidden;
}
/* line 618, style.scss */
.author-info .social-links {
  margin: 0;
}

/* line 623, style.scss */
.social-links {
  clear: both;
  overflow: hidden;
  zoom: 1;
  margin: 10px 0 0;
}
/* line 629, style.scss */
.social-links li {
  height: 24px;
  width: 24px;
  float: left;
  overflow: hidden;
  border: 1px solid #DDD;
  margin: 0 8px 0 0;
}
/* line 637, style.scss */
.social-links li a {
  color: transparent;
  font-size: 0px;
  display: block;
}

@media (min-width: 1200px) {
  /* line 648, style.scss */
  #masthead .btn-group-two {
    margin: 30px 0;
  }
  /* line 651, style.scss */
  #masthead .btn-group-two .btn {
    width: 305px;
  }
  /* line 654, style.scss */
  #masthead .btn-group-two .btn:first-child {
    width: 306px;
    border-right: 0;
  }
  /* line 663, style.scss */
  #masthead .btn-group-three .btn {
    width: 194px;
  }

  /* line 669, style.scss */
  .author-info {
    margin-left: 30px;
  }
}
@media (max-width: 1200px) {
  /* line 679, style.scss */
  #masthead .btn-group-two .btn {
    width: 240px;
  }
  /* line 686, style.scss */
  #masthead .btn-group-three .btn {
    width: 150px;
  }
}
@media (max-width: 980px) {
  /* line 694, style.scss */
  .video, .video iframe {
    width: 730px;
    height: 405px;
  }

  /* line 703, style.scss */
  #masthead .btn-group-two .btn {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    width: 385px;
    margin: 0;
  }
  /* line 708, style.scss */
  #masthead .btn-group-two .btn:first-child {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -khtml-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
  }
  /* line 712, style.scss */
  #masthead .btn-group-two .btn:last-child {
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -khtml-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
  }
  /* line 720, style.scss */
  #masthead .btn-group-three .btn {
    width: 108px;
  }
}
@media (max-width: 768px) {
  /* line 728, style.scss */
  .video, .video iframe {
    width: 430px;
    height: 242px;
  }

  /* line 733, style.scss */
  #masthead {
    width: 400px;
  }
  /* line 737, style.scss */
  #masthead .btn-group-two, #masthead .btn-group-three {
    padding: 0 15px;
  }
  /* line 740, style.scss */
  #masthead .btn-group-two .btn, #masthead .btn-group-three .btn {
    width: 100%;
    margin: 0 -15px;
  }
  /* line 744, style.scss */
  #masthead .btn-group-two .btn:first-child, #masthead .btn-group-three .btn:first-child {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -khtml-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
  }
  /* line 748, style.scss */
  #masthead .btn-group-two .btn:last-child, #masthead .btn-group-three .btn:last-child {
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -khtml-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
  }
  /* line 754, style.scss */
  #masthead .btn-group-two .info, #masthead .btn-group-three .info {
    margin-left: -15px;
    width: 398px;
  }

  /* line 761, style.scss */
  .author-info {
    margin-left: 0;
  }
}
/* line 69, pygments.scss */
.highlight {
  /* Comment */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
}
/* line 71, pygments.scss */
.highlight pre {
  margin: 0;
  background: #F7F7F9;
  border: 1px solid #E1E1E8;
  padding: 0;
}
/* line 77, pygments.scss */
.highlight code {
  border: 0;
}
/* line 80, pygments.scss */
.highlight .lineno {
  -moz-box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.05);
  -moz-border-radius: 0 0 0 6px;
  -webkit-border-radius: 0 0 0 6px;
  -o-border-radius: 0 0 0 6px;
  -ms-border-radius: 0 0 0 6px;
  -khtml-border-radius: 0 0 0 6px;
  border-radius: 0 0 0 6px;
  background: #FBFBFC;
  padding: 1px 9px 1px 12px;
  color: #BEBEC5;
  line-height: 18px;
  text-shadow: 0 1px 0 white;
  display: inline-block;
  border: 0;
  border-right: 1px solid #DDD;
}
/* line 92, pygments.scss */
.highlight .lineno:first-child {
  -moz-border-radius: 6px 0 0 0;
  -webkit-border-radius: 6px 0 0 0;
  -o-border-radius: 6px 0 0 0;
  -ms-border-radius: 6px 0 0 0;
  -khtml-border-radius: 6px 0 0 0;
  border-radius: 6px 0 0 0;
}
/* line 96, pygments.scss */
.highlight span {
  color: #aaa;
}
/* line 97, pygments.scss */
.highlight .hll {
  background-color: #ffffcc;
}
/* line 98, pygments.scss */
.highlight .nx {
  color: #A15E3A;
}
/* line 99, pygments.scss */
.highlight .c {
  color: #808080;
}
/* line 100, pygments.scss */
.highlight .err {
  color: #F00000;
  background-color: #F0A0A0;
}
/* line 101, pygments.scss */
.highlight .k {
  color: #008000;
  font-weight: bold;
}
/* line 102, pygments.scss */
.highlight .o {
  color: #303030;
}
/* line 103, pygments.scss */
.highlight .cm {
  color: #808080;
}
/* line 104, pygments.scss */
.highlight .cp {
  color: #507090;
}
/* line 105, pygments.scss */
.highlight .c1 {
  color: #808080;
}
/* line 106, pygments.scss */
.highlight .cs {
  color: #cc0000;
  font-weight: bold;
}
/* line 107, pygments.scss */
.highlight .gd {
  color: #A00000;
}
/* line 108, pygments.scss */
.highlight .ge {
  font-style: italic;
}
/* line 109, pygments.scss */
.highlight .gr {
  color: #FF0000;
}
/* line 110, pygments.scss */
.highlight .gh {
  color: #000080;
  font-weight: bold;
}
/* line 111, pygments.scss */
.highlight .gi {
  color: #00A000;
}
/* line 112, pygments.scss */
.highlight .go {
  color: #808080;
}
/* line 113, pygments.scss */
.highlight .gp {
  color: #c65d09;
  font-weight: bold;
}
/* line 114, pygments.scss */
.highlight .gs {
  font-weight: bold;
}
/* line 115, pygments.scss */
.highlight .gu {
  color: #800080;
  font-weight: bold;
}
/* line 116, pygments.scss */
.highlight .gt {
  color: #0040D0;
}
/* line 117, pygments.scss */
.highlight .kc {
  color: #008000;
  font-weight: bold;
}
/* line 118, pygments.scss */
.highlight .kd {
  color: #008000;
  font-weight: bold;
}
/* line 119, pygments.scss */
.highlight .kn {
  color: #008000;
  font-weight: bold;
}
/* line 120, pygments.scss */
.highlight .kp {
  color: #003080;
  font-weight: bold;
}
/* line 121, pygments.scss */
.highlight .kr {
  color: #008000;
  font-weight: bold;
}
/* line 122, pygments.scss */
.highlight .kt {
  color: #303090;
  font-weight: bold;
}
/* line 123, pygments.scss */
.highlight .m {
  color: #6000E0;
  font-weight: bold;
}
/* line 124, pygments.scss */
.highlight .s {
  background-color: #fff0f0;
}
/* line 125, pygments.scss */
.highlight .na {
  color: #0000C0;
}
/* line 126, pygments.scss */
.highlight .nb {
  color: #007020;
}
/* line 127, pygments.scss */
.highlight .nc {
  color: #B00060;
  font-weight: bold;
}
/* line 128, pygments.scss */
.highlight .no {
  color: #003060;
  font-weight: bold;
}
/* line 129, pygments.scss */
.highlight .nd {
  color: #505050;
  font-weight: bold;
}
/* line 130, pygments.scss */
.highlight .ni {
  color: #800000;
  font-weight: bold;
}
/* line 131, pygments.scss */
.highlight .ne {
  color: #F00000;
  font-weight: bold;
}
/* line 132, pygments.scss */
.highlight .nf {
  color: #0060B0;
  font-weight: bold;
}
/* line 133, pygments.scss */
.highlight .nl {
  color: #907000;
  font-weight: bold;
}
/* line 134, pygments.scss */
.highlight .nn {
  color: #0e84b5;
  font-weight: bold;
}
/* line 135, pygments.scss */
.highlight .nt {
  color: #007000;
}
/* line 136, pygments.scss */
.highlight .nv {
  color: #906030;
}
/* line 137, pygments.scss */
.highlight .ow {
  color: #000000;
  font-weight: bold;
}
/* line 138, pygments.scss */
.highlight .w {
  color: #bbbbbb;
}
/* line 139, pygments.scss */
.highlight .mf {
  color: #6000E0;
  font-weight: bold;
}
/* line 140, pygments.scss */
.highlight .mh {
  color: #005080;
  font-weight: bold;
}
/* line 141, pygments.scss */
.highlight .mi {
  color: #8F57FF;
  font-weight: bold;
}
/* line 142, pygments.scss */
.highlight .mo {
  color: #4000E0;
  font-weight: bold;
}
/* line 143, pygments.scss */
.highlight .sb {
  background-color: #fff0f0;
}
/* line 144, pygments.scss */
.highlight .sc {
  color: #0040D0;
}
/* line 145, pygments.scss */
.highlight .sd {
  color: #D04020;
}
/* line 146, pygments.scss */
.highlight .s2 {
  background-color: #fff0f0;
}
/* line 147, pygments.scss */
.highlight .se {
  color: #606060;
  font-weight: bold;
  background-color: #fff0f0;
}
/* line 148, pygments.scss */
.highlight .sh {
  background-color: #fff0f0;
}
/* line 149, pygments.scss */
.highlight .si {
  background-color: #e0e0e0;
}
/* line 150, pygments.scss */
.highlight .sx {
  color: #D02000;
  background-color: #fff0f0;
}
/* line 151, pygments.scss */
.highlight .sr {
  color: #000000;
  background-color: #fff0ff;
}
/* line 152, pygments.scss */
.highlight .s1 {
  color: #FF69B4;
}
/* line 153, pygments.scss */
.highlight .ss {
  color: #A06000;
}
/* line 154, pygments.scss */
.highlight .bp {
  color: #007020;
}
/* line 155, pygments.scss */
.highlight .vc {
  color: #306090;
}
/* line 156, pygments.scss */
.highlight .vg {
  color: #d07000;
  font-weight: bold;
}
/* line 157, pygments.scss */
.highlight .vi {
  color: #3030B0;
}
/* line 158, pygments.scss */
.highlight .il {
  color: #0000D0;
  font-weight: bold;
}
